<h1>All of the pickles</h1>
<% if !@items.empty? %>
<img src="https://cdn.meme.am/cache/instances/folder544/500x/76662544/x-all-the-things-all-of-the-pickles.jpg" alt="">
<table class="table">
  <th>Item</th>
  <th>Thumbnail</th>
  <th>Description</th>
  <th>Status</th>
  <th>Edit</th>
  <% @items.each do |item| %>
    <tr>
       <td> <%= link_to item.title, item_path(item) %> </td>
       <td> <%= image_tag "/assets/#{item.image_url}",  height: 100 %> </td>
       <td> <%= item.description %> </td>
       <td> <% if item.retired %>
              <%= "retired" %>
            <% else %>
              <%= "active" %>
            <% end %>
       </td>
       <td> <%= link_to "Edit item", edit_admin_item_path(item) %> </td>
    </tr>
  <% end %>
</table>
<% else %>
  <img src="https://cdn.meme.am/cache/instances/folder248/500x/76663248/sad-hyperbole-and-a-half-there-are-no-pickels1.jpg" alt="">
<% end %>
