<h1>Create New Item</h1>

<%= form_for @item, html: {multipart: true, class: 'well'}, url: admin_items_path do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price%>
    $<%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any %>
  </div>

  <div class="col-md-4 checkbox-list">
    <h4>Categories:</h4>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name)%>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="form-group">
    <%= f.label :image, "Attach an Image (optional)" %><br />
    <%= f.file_field :image %>
  </div>

  <%= f.submit "Create Item", class: 'btn btn-primary'%>
<% end %>
