<h1>Well Come On In, Partner!</h1>

<%= form_for @user do |f| %>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control'  %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control'  %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control'  %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control'  %>
</div>

<div class="form-group">
  <%= f.submit "See what the 'big dill' is about!", class: 'btn btn-primary' %>
</div>

<% end %>
