
<div class="col-sm-3 hero-feature">
  <div class="pickle" id="pickle_<%=item.id%>">
    <div class="thumbnail">
      <%= image_tag(item.image_url) %>
      <div class="caption">
        <div class="centered">
          <h2 class="manual"><%= item.title %></h2>
          <p> <%= item.description %> </p>
          <p> <%= item.price_format %> </p>
          <p>
            <%= render partial: 'shared/add_to_cart_button', :locals => {:item => item} %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
