<h1>User Profile for: <%= @display_user.full_name %></h1>

<ul><h2>Account Information:</h2>
  <li> First Name: <%=@display_user.first_name%></li>
  <li> Last Name: <%=@display_user.last_name%></li>
  <li> Email Name: <%=@display_user.email%></li>
</ul>

<%= button_to "Edit Account Information", edit_admin_user_path(@display_user), method: :get if current_user.admin? && (@display_user == current_user) %>
