<h1><span class="whiteblock">User Profile for: <%= @display_user.full_name %></span></h1>
<div class="whiteblock">
<div class="well">
  <h2>Account Information:</h2>
  <ul style="list-style-type:none">
    <li>First Name: <%=@display_user.first_name%></li>
    <li>Last Name: <%=@display_user.last_name%></li>
    <li>Email Name: <%=@display_user.email%></li>
  </ul>

  <%= render partial: 'shared/user_address' unless @display_user.empty_address? %>
</div>

<%= button_to "Edit Account Information", edit_admin_user_path(@display_user), method: :get if current_user.admin? && (@display_user == current_user) %>
</div>
