<h1>Order #<%=@order.id%> for <%=@display_user.full_name%></h1>

<h3>Purchased on <%= @order.order_date %></h3>
<h3>Order Status: <%= @order.status %></h3>

<div class="well">
  <%= render partial: 'shared/user_address' %>
</div>

<table class=table>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @order_items.each do |order_item| %>
  <tr>
    <td>
      <%= image_tag(order_item.item.image_url, :width => '100')%>
    </td>
    <td>
      <h3><%= link_to order_item.item.title, item_path(order_item.item) %></h3>
      Description: <%= order_item.item.description %>
    </td>
    <td>
      <%= order_item.item.price_format %>
    </td>
    <td>
      <%= order_item.quantity %>
    </td>

    <td>
      <%= order_item.price_format(order_item.subtotal) %>
    </td>

  </tr>
  <% end %>
</table>

<h4>Total Price: <%= @order.total_price %></h4>
<h4>Total Quantity: <%= @order.total_quantity %></h4>
