<div class="whiteblock">
<h1><span class="whiteblock"Order #<%=@order.id%> for <%=@display_user.full_name%></span></h1>

<h3><span class="whiteblock">Purchased on <%= @order.order_date %></span></h3>
<h3><span class="whiteblock">Order Status: <%= @order.status %></span></h3>

<div class="well">
  <%= render partial: 'shared/user_address' %>
</div>

<table class=table>
  <div class="whiteblock">
  <tr>
    <th></th>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @order_items.each do |order_item| %>
  <tr>
    <td>
      <%= image_tag(order_item.item.image_url, :width => '100')%>
    </td>
    <td>
      <h3><%= link_to order_item.item.title, item_path(order_item.item) %></h3>
      Description: <%= order_item.item.description %>
    </td>
    <td>
      <%= order_item.item.price_format %>
    </td>
    <td>
      <%= order_item.quantity %>
    </td>

    <td>
      <%= order_item.price_format(order_item.subtotal) %>
    </td>

  </tr>
  <% end %>
</div>
</table>

<h4>Total Price: <%= @order.total_price %></h4>
<h4>Total Quantity: <%= @order.total_quantity %></h4>
</div>
