<table class=table>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @order_items.each do |order_item| %>
    <tr>
      <td>
        <%= image_tag(order_item.item.image_url, :width => '100')%>
      </td>
      <td>
        <h3><%= order_item.item.title %></h3>
        Description: <%= order_item.item.description %>
      </td>
      <td>
        <%= order_item.item.price_format %>
      </td>
      <td>
        <%= order_item.quantity %>
      </td>
      <td>
        <%= order_item.price_format(order_item.subtotal) %>
      </td>
    </tr>
  <% end %>
</table>
