<h1>Please review and confirm your order.</h1>

<h3>Shipping Address:</h3>
<ul style="list-style-type:none">
  <li><%= current_user.full_name %></li>
  <li><%= current_user.street %></li>
  <li><%= current_user.city %>, <%= current_user.state %> <%= current_user.zipcode %></li>
</ul>

<%= render partial: 'cart_table' %>
<div>
  <h4>Total Price: <%= @cart.cart_total %></h4>
  <h4>Total Quantity: <%= @cart.cart_quantity %></h4>
</div>

<%= button_to "Confirm Order", orders_path, class: 'checkout' %>
