<h1><span class="whiteblock">Your Cart</span></h1>
<div class="whiteblock">
<%= render partial: 'shared/view_past_order_link' if current_user %>

<% if @cart.empty? %>
  <%= render partial: 'cart_empty' %>
<% else %>
  <%= render partial: 'cart_table' %>
  <div>
    <h4>Total Price: <%= @cart.cart_total %></h4>
    <h4>Total Quantity: <%= @cart.cart_quantity %></h4>
  </div>
  <%= render partial: 'checkout_buttons' if current_user %>
  <%= render partial: 'login_button' unless current_user %>
<% end %>
</div>
