<h2>Add your own review</h2>
<%= form_for @item.reviews.new, html: {class: 'well'} do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.select :rating, (1..5) %>
  </div>

  <div class="form-group">
    <%= f.label "Review" %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit "Submit Review", class: 'btn btn-primary' %>
<% end %>
