<hr>
<div class="reviews">
  <h2>Reviews: <%=" #{@item.reviews.count} "%></h2>
  <%= render partial: 'average_rating' unless @item.reviews.average(:rating) == nil %>
  <% @item.reviews.each do |review| %>
    <div class="card well">
      <div class="card-block">
        <h3>"<%= review.title %>", Rating: <%= review.rating %></h3>
        <p>"<%= review.body %>"</p>
        <h4>Posted by <%= review.user.first_name %> <%= distance_of_time_in_words(review.created_at, DateTime.now) %> ago</h4>
        <% if current_user && current_user.admin? %>
          <%= button_to "Delete Review", review_path(review), method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
