<div class="pickle" id="pickle_<%=@item.id%>">
  <h1><%= @item.title %></h1>
  <p> <%= @item.description %> </p>
  <p> <%= @item.price_format %> </p>
  <img src="<%=@item.image_url%>" alt="<%=@item.title%>">
  <% if !@item.retired %>
    <%= button_to "Add to Cart", cart_path, params: {item_id: @item.id} %>
  <% else %>
    <p>Item Retired</p>
  <% end %>
</div>
