<div class="whiteblock">
<div class="pickle" id="pickle_<%=@item.id%>">
  <h1><%= @item.title %></h1>
  <br><br>
  <div class="row">
    <div class="col-md-4 well">
      <p> <%= @item.description %> </p>
      <p> <%= @item.price_format %> </p>
      <p>Categories:
        <% @item.categories.each do |category| %>
          <%= link_to "#{category.name}", "/#{category.name}" %>
        <% end %></p>
      <%= render partial: 'shared/add_to_cart_button', :locals => {:item => @item} unless @item.retired %>
      <%= render partial: 'retired_item' if @item.retired %>
    </div>
    <div class="col-md-6">
      <%= image_tag(@item.image_url, height: 200) %>
    </div>
  </div>
</div>

<%= render partial: 'review_list' %>

<%= render partial: 'review_form' if current_user && !current_user.admin? %>
