<div class="pickle" id="pickle_<%=@item.id%>">
  <h1><%= @item.title %></h1>
  <p> <%= @item.description %> </p>
  <p> <%= @item.price_format %> </p>
    <%= image_tag(@item.image_url) %>
  <%= render partial: 'shared/add_to_cart_button', :locals => {:item => @item} unless @item.retired %>
  <%= render partial: 'retired_item' if @item.retired %>
</div>
