<h1> <%= @category.name %></h1>

<% @category.items.each do |item| %>
  <% unless item.retired %>
    <h2><%= item.title %></h2>
    <p> <%= item.description %> </p>
    <p> <%= item.price_format %> </p>
    <img src="<%=item.image_url%>" alt="<%=item.title%>">
    <%= button_to "Add to Cart", cart_path, params: {item_id: item.id} %>
  <% end %>
<% end %>
