<h1>Admin Dashboard</h1>
<h2>All Orders</h2>

<div class="">
  <h3>Ordered: <%= @orders.ordered.count %> </h3>
  <table class="table" id="ordered">
    <th>Order no.</th>
    <th>Order date</th>
    <th></th>
    <th></th>
    <% @orders.ordered.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.order_date %></td>
      <td> <%= button_to "cancel", order_path(order), method: :patch, params: { status: :cancelled }, class: "btn btn-danger" %> </td>
      <td> <%= button_to "mark as paid", order_path(order), method: :patch, params: { status: :paid }, class: "btn btn-primary" %> </td>
    </tr>
    </tr>
    <% end %>
  </table>
</div>
<div class="">
  <h3>Paid: <%= @orders.paid.count %></h3>
  <table class="table" id="paid">
    <th>Order no.</th>
    <th>Order date</th>
    <th></th>
    <th></th>
    <% @orders.paid.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.order_date %></td>
      <td> <%= button_to "cancel", order_path(order), method: :patch, params: { status: :cancelled }, class: "btn btn-danger" %> </td>
      <td> <%= button_to "mark as completed", order_path(order), method: :patch, params: { status: :completed }, class: "btn btn-success" %> </td>
    </tr>
    </tr>
    <% end %>
  </table>
</div>
<div class="">
  <h3>Completed: <%= @orders.completed.count %></h3>
  <table class="table" id="completed">
    <th>Order no.</th>
    <th>Order date</th>
    <% @orders.completed.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.order_date %></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="">
  <h3>Cancelled: <%= @orders.cancelled.count %></h3>
  <table class="table" id="cancelled">
    <th>Order no.</th>
    <th>Order date</th>
    <% @orders.cancelled.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.order_date %></td>
    </tr>
    <% end %>
  </table>
</div>
