<h1>Admin Analytics</h1>

<div class="container">
  <%= form_tag '/send_report', method: :post do %>
    Email: <%= email_field_tag "Email" %>
    <%= button_tag "Send Report" %>
  <% end %>
</div>

<% if @orders.bestselling %>
<h2>Sales Stats</h2>
<table class="table">
  <tr>
    <td><h4>Bestselling item:</h4></td>
    <td><h2> <%= link_to @orders.bestselling[0].title, item_path(@orders.bestselling[0]) %> </h2></td>
  </tr>
  <tr>
    <td><h4>Total Revenue all time:</h4></td>
    <td><h2> <%= @orders.total_revenue %> </h2></td>
  </tr>
  <tr>
    <td><h4>Total Revenue last 7 days:</h4></td>
    <td><h2> <%= @orders.trailing_revenue %> </h2></td>
  </tr>
  <tr>
    <td><h4>Total Revenue last 30 days:</h4></td>
    <td><h2> <%= @orders.trailing_revenue(30) %> </h2></td>
  </tr>
  <tr>
    <td><h4>Total Items Sold</h4></td>
    <td><h2> <%= @orders.total_items_sold %> </h2></td>
  </tr>
  <tr>
    <td><h4>Total Items Sold in past 7 days:</h4></td>
    <td><h2> <%= @orders.sales %> </h2></td>
  </tr>
  <tr>
    <td><h4>Total Items Sold in past 30 days:</h4></td>
    <td><h2> <%= @orders.sales(30) %> </h2></td>
  </tr>
</table>
<% end %>

<br>

<% if @items.most_reviewed_item %>
<h2>Item Stats</h2>
<table class="table">
  <tr>
    <td><h4>Total Items:</h4></td>
    <td><h2> <%= @items.count %>  </h2></td>
  </tr>
  <tr>
    <td><h4>Most Reviewed Item:</h4></td>
    <td><h3> <%= link_to @items.most_reviewed_item.title, item_path(@items.most_reviewed_item) %> </h3></td>
  </tr>
  <tr>
    <td><h4>Most Expensive Item:</h4></td>
    <td><h3> <%= link_to @items.most_expensive_item.title, item_path(@items.most_expensive_item)%> </h3></td>
  </tr>
</table>
<% end %>

<br>

<% if @users.highest_reviewer %>
<h2>User Stats</h2>
<table class="table">
  <tr>
    <td><h4>Total Users:</h4></td>
    <td><h2> <%= @users.count %>   </h2></td>
  </tr>
  <tr>
    <td><h4>User with Most Reviews:</h4></td>
    <td><h3> <%= @users.highest_reviewer %> </h3></td>
  </tr>
</table>
<% end %>
