<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "We Can Pickle That" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <link rel="icon" href="/assets/pickle_pile.jpg">

    <%= javascript_include_tag "application" %>

  </head>
  <body>

    <div class="navbar navbar-inverse bg-inverse navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">WeCanPickleThat</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "All Pickles", items_path %></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% Category.all.each do |category| %>
                  <li>
                    <%= link_to category.name, "/#{category.name}" %>
                  </li>
                  <% end %>
                </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user && current_user.admin? %>
              <li class=dropdown>
                <%= render partial: 'shared/admin_dash_path' %>
              </li>
            <% end %>
            <% if current_user %>
              <%= render partial: 'shared/default_user_path' unless current_user.admin? %>
              <%= render partial: 'shared/admin_user_path' if current_user.admin? %>
              <li><%= link_to logout_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Logout</a></li><% end %>
            <% else %>
              <li><%= link_to new_user_path do %><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <% end %>
              <li><%= link_to login_path do %><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <% end %>
            <% end %>
            <li><%= link_to cart_path do %>
              View Cart
              <span class="glyphicon glyphicon-shopping-cart"></span>
            <% end %></li>
        </ul>
        </div>
      </div>
    </div>


    <div class="container main-content">
      <% flash.each do |name, msg| %>
      <div class="alert fade in alert-<%= name %> ">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= sanitize(msg) %>
      </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12">
          </div>
          <div class="well">
            <%= yield %>
          </div>
        </div>
      </div><!--/row-->

    </div> <!-- /container -->

  </body>
  <div class="footer">
    <p>&copy; WePickledIt 2017</p>
  </div>
</html>
